{{include  file="$smarty_root/header.html" }}

<section class="scrollable">
    <section class="hbox stretch">
        <aside class="aside-lg bg-light lter b-r">
            <section class="vbox">
                <section class="scrollable">
                    <div class="wrapper">
                        <div class="text-center m-b m-t">
                            <a href="#" class="thumb-lg">
                                <img src="{{$rootpath}}/images/a0.png" class="img-circle">
                            </a>
                            <div>
                                <div class="h3 m-t-xs m-b-xs">刘瑞鹏</div>
                                <small class="text-muted"><i class="fa fa-map-marker"></i> 深圳市罗湖区</small>
                            </div>
                        </div>
                        <div class="panel wrapper">
                            <div class="row text-center">
                                <div class="col-xs-6">
                                    <a href="#">
                                        <span class="m-b-xs h4 block">245</span>
                                        <small class="text-muted">关注</small>
                                    </a>
                                </div>
                                <div class="col-xs-6">
                                    <a href="#">
                                        <span class="m-b-xs h4 block">55</span>
                                        <small class="text-muted">粉丝</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <small class="text-uc text-xs text-muted">我的介绍</small>
                            <p>人称<strong>碧波C罗</strong><br />
                            擅长位置前卫，前锋，边前卫<br />
                            爱生活，爱足球，足球是我的一切</p>

                            <small class="text-uc text-xs text-muted">荣耀</small>
                            <p>
                                2014年赢得草榴社区杯第三名，最佳射手<br />
                                2015年赢得耐克球迷邀请杯冠军，最佳射手，最佳球员<br />
                            </p>

                            <small class="text-uc text-xs text-muted">战绩</small>
                            <p>
                                历史进球进球58个<br />
                                赢得12次MVP<br />
                                参加过142场比赛，赢得72场比赛，胜率为51%<br />
                            </p>
                            <div class="line"></div>
                            <small class="text-uc text-xs text-muted">联系我</small>
                            <p class="m-t-sm">
                                QQ：359304951
                            </p>
                            <p class="m-t-sm">
                                微信：159898845214
                            </p>
                            <p class="m-t-sm">
                                电话号码：159898845214
                            </p>
                        </div>
                    </div>
                </section>
            </section>
        </aside>
        <aside class="bg-white">
            <section class="vbox">
                <header class="header bg-light lt">
                    <ul class="nav nav-tabs nav-white">
                        <li class="active"><a href="#activity" data-toggle="tab"><span class="label bg-dark">15</span> 收件箱</a></li>
                        <li class=""><a href="#events" data-toggle="tab"><span class="label bg-dark">5</span> 心情</a></li>
                        <li class=""><a href="#interaction" data-toggle="tab">战绩</a></li>
                    </ul>
                </header>
                <section class="scrollable">
                    <div class="tab-content">
                        <div class="tab-pane active" id="activity">
                            <section class="panel panel-default no-border">
                                <section class="panel-body slim-scroll no-border" data-height="100%" data-size="10px">
                                    <article class="media">
                                        <span class="pull-left thumb-sm"><img src="{{$rootpath}}/images/milan.jpg" alt="..."></span>
                                        <div class="media-body">
                                            <div class="pull-right media-xs text-center text-muted">
                                                <strong class="h4">12:18</strong><br>
                                                <small class="label bg-light"></small>
                                            </div>
                                            <a href="#" class="h4">比赛邀请</a>
                                            <small class="block"><a href="#" class="">米兰球迷</a> <span class="label label-success">比赛</span></small>
                                            <small class="block m-t-sm">米兰球迷队将在16年5月28日晚上6点在皇冠体育中心与深大校友队有一场友谊赛，请问你是否参加？</small>
                                            <p class="pull-right">
                                                <a href="#" class="btn btn-xs btn-success btn-rounded">参加</a>
                                                <a href="#" class="btn btn-xs  btn-dark btn-rounded">拒绝</a>
                                            </p>
                                        </div>
                                    </article>
                                    <div class="line pull-in"></div>
                                    <article class="media">
                                        <span class="pull-left thumb-sm"><img src="{{$rootpath}}/images/mu.jpg" alt="..."></span>
                                        <div class="media-body">
                                            <div class="pull-right media-xs text-center text-muted">
                                                <strong class="h4">11:18</strong><br>
                                                <small class="label bg-light"></small>
                                            </div>
                                            <a href="#" class="h4">比赛取消通知</a>
                                            <small class="block"><a href="#" class="">深圳红魔</a> <span class="label label-success">比赛</span></small>
                                            <small class="block m-t-sm">原定于16年5月21日晚上7点的比赛，因报名人数不足原因取消。</small>
                                            <p class="pull-right">
                                                <a href="#" class="btn btn-xs btn-default btn-rounded">知道了</a>
                                            </p>
                                        </div>
                                    </article>
                                    <div class="line pull-in"></div>
                                    <article class="media">
                                        <span class="pull-left thumb-sm"><img src="{{$rootpath}}/images/chelsea.jpg" alt="..."></span>
                                        <div class="media-body">
                                            <div class="pull-right media-xs text-center text-muted">
                                                <strong class="h4">11:21</strong><br>
                                                <small class="label bg-light">昨天</small>
                                            </div>
                                            <a href="#" class="h4">比赛改期邀请</a>
                                            <small class="block"><a href="#" class="">龙岗车仔</a> <span class="label label-success">比赛</span></small>
                                            <small class="block m-t-sm">原定于16年5月22日晚上7点的比赛改期为5月23日晚上8点，你还继续参加吗？</small>
                                            <p class="pull-right">
                                                <a href="#" class="btn btn-xs btn-success btn-rounded">参加</a>
                                                <a href="#" class="btn btn-xs  btn-dark btn-rounded">拒绝</a>
                                            </p>
                                        </div>
                                    </article>
                                    <div class="line pull-in"></div>
                                    <article class="media">
                                        <span class="pull-left thumb-sm"><img src="{{$rootpath}}/images/chelsea.jpg" alt="..."></span>
                                        <div class="media-body">
                                            <div class="pull-right media-xs text-center text-muted">
                                                <strong class="h4">12</strong><br>
                                                <small class="label bg-light">4月</small>
                                            </div>
                                            <a href="#" class="h4">投票邀请</a>
                                            <small class="block"><a href="#" class="">龙岗车仔</a> <span class="label label-info">投票</span></small>
                                            <small class="block m-t-sm">如果我们球队更换球衣，你是否同意？如果下面几款给你选，你选择哪个？</small>

                                            <div class="pull-right btn-group btn-group-xs">
                                                <button type="button" class="btn btn-default">1 红色</button>
                                                <button type="button" class="btn btn-default">2 绿色</button>
                                                <button type="button" class="btn btn-default">3 蓝色</button>
                                                <button type="button" class="btn btn-default">4 其它</button>
                                                <button type="button" class="btn btn-default">5 反对</button>
                                                <button type="button" class="btn btn-info ">提交</button>
                                            </div>
                                        </div>
                                    </article>
                                    <div class="line pull-in"></div>
                                    <article class="media">
                                        <span class="pull-left thumb-sm"><img src="{{$rootpath}}/images/a0.png" alt="..."></span>
                                        <div class="media-body">
                                            <div class="pull-right media-xs text-center text-muted">
                                                <strong class="h4">19</strong><br>
                                                <small class="label bg-light">3月</small>
                                            </div>
                                            <a href="#" class="h4">活动邀请</a>
                                            <small class="block"><a href="#" class="">胡春生</a> <span class="label label-info">活动</span></small>
                                            <small class="block m-t-sm">16年欧冠决赛，皇马对巴萨，一起看球腐败吗？</small>
                                            <p class="pull-right">
                                                <a href="#" class="btn btn-xs btn-success btn-rounded">参加</a>
                                                <a href="#" class="btn btn-xs  btn-dark btn-rounded">拒绝</a>
                                            </p>
                                        </div>
                                    </article>
                                    <div class="line pull-in"></div>
                                    <article class="media">
                                        <span class="pull-left thumb-sm"><img src="{{$rootpath}}/images/a0.png" alt="..."></span>
                                        <div class="media-body">
                                            <div class="pull-right media-xs text-center text-muted">
                                                <strong class="h4">16</strong><br>
                                                <small class="label bg-light">3月</small>
                                            </div>
                                            <a href="#" class="h4">MVP荣耀</a>
                                            <small class="block"><a href="#" class="">胡春生</a> <span class="label label-primary">活动</span></small>
                                            <small class="block m-t-sm">在上一次比赛中获得了MVP，并且独中两元</small>
                                        </div>
                                    </article>
                                    <div class="line pull-in"></div>
                                    <article class="media">
                                        <span class="pull-left thumb-sm"><i class="fa fa-file-o fa-3x icon-muted"></i></span>
                                        <div class="media-body">
                                            <div class="pull-right media-xs text-center text-muted">
                                                <strong class="h4">17</strong><br>
                                                <small class="label bg-light">2月</small>
                                            </div>
                                            <a href="#" class="h4">焦点之战推荐</a>
                                            <small class="block"><a href="#" class="">足球圈</a> <span class="label label-warning">推荐</span></small>
                                            <small class="block m-t-sm">2月份排行榜第1名龙之队将和第7名的虎之队在19日8点的莲花山球场进行对决，你支持哪一队会赢呢？</small>
                                            <p class="pull-right">
                                                <a href="#" class="btn btn-xs btn-success btn-rounded">龙之队</a>
                                                <a href="#" class="btn btn-xs  btn-info btn-rounded">虎之队</a>
                                            </p>
                                        </div>
                                    </article>
                                </section>
                            </section>
                        </div>
                        <div class="tab-pane" id="events">
                            <ul class="list-group no-radius m-b-none m-t-n-xxs list-group-lg no-border">
                                <li class="list-group-item">
                                    <a href="#" class="thumb-sm pull-left m-r-sm">
                                        <img src="{{$rootpath}}/images/a0.png" class="img-circle">
                                    </a>
                                    <a href="#" class="clear">
                                        <small class="pull-right">3分钟前</small>
                                        <strong class="block">胡春生</strong>
                                        <small>昨晚进行了一场酣畅淋漓的比赛，实在太爽了。</small>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#" class="thumb-sm pull-left m-r-sm">
                                        <img src="{{$rootpath}}/images/a1.png" class="img-circle">
                                    </a>
                                    <a href="#" class="clear">
                                        <small class="pull-right">1小时前</small>
                                        <strong class="block">翁晓青</strong>
                                        <small>昨晚2比0吊打对手，今天好累。</small>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#" class="thumb-sm pull-left m-r-sm">
                                        <img src="{{$rootpath}}/images/a2.png" class="img-circle">
                                    </a>
                                    <a href="#" class="clear">
                                        <small class="pull-right">2小时前</small>
                                        <strong class="block">我</strong>
                                        <small>好久没踢了，兄弟们配合得太好了</small>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#" class="thumb-sm pull-left m-r-sm">
                                        <img src="{{$rootpath}}/images/a3.png" class="img-circle">
                                    </a>
                                    <a href="#" class="clear">
                                        <small class="pull-right">1天前</small>
                                        <strong class="block">蔡笋</strong>
                                        <small>兄弟们，今天有事不能参加比赛，你们加油！</small>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#" class="thumb-sm pull-left m-r-sm">
                                        <img src="{{$rootpath}}/images/milan.jpg" class="img-circle">
                                    </a>
                                    <a href="#" class="clear">
                                        <small class="pull-right">3天前</small>
                                        <strong class="block">米兰球迷</strong>
                                        <small>明天我们的对手的前锋挺厉害的，大家小心注意防守。</small>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#" class="thumb-sm pull-left m-r-sm">
                                        <img src="{{$rootpath}}/images/milan.jpg" class="img-circle">
                                    </a>
                                    <a href="#" class="clear">
                                        <small class="pull-right">1月21</small>
                                        <strong class="block">米兰球迷</strong>
                                        <small>明天穿黄色球服，别忘记了。</small>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#" class="thumb-sm pull-left m-r-sm">
                                        <img src="{{$rootpath}}/images/a6.png" class="img-circle">
                                    </a>
                                    <a href="#" class="clear">
                                        <small class="pull-right">3月10</small>
                                        <strong class="block">翁晓青</strong>
                                        <small>@米兰球迷 组织比赛啊</small>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#" class="thumb-sm pull-left m-r-sm">
                                        <img src="{{$rootpath}}/images/a1.png" class="img-circle">
                                    </a>
                                    <a href="#" class="clear">
                                        <small class="pull-right">1小时前</small>
                                        <strong class="block">翁晓青</strong>
                                        <small>昨晚2比0吊打对手，今天好累。</small>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#" class="thumb-sm pull-left m-r-sm">
                                        <img src="{{$rootpath}}/images/a2.png" class="img-circle">
                                    </a>
                                    <a href="#" class="clear">
                                        <small class="pull-right">2 hours ago</small>
                                        <strong class="block">我</strong>
                                        <small>好久没踢了，兄弟们配合得太好了</small>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#" class="thumb-sm pull-left m-r-sm">
                                        <img src="{{$rootpath}}/images/a3.png" class="img-circle">
                                    </a>
                                    <a href="#" class="clear">
                                        <small class="pull-right">1 day ago</small>
                                        <strong class="block">蔡笋</strong>
                                        <small>兄弟们，今天有事不能参加比赛，你们加油！</small>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="interaction">
                            <ul class="list-group no-radius m-b-none m-t-n-xxs list-group-lg no-border">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-5 ">
                                            <div class="pull-right">
                                                <small>深圳红魔</small>
                                                <a href="#" class="thumb-sm  m-r-sm">
                                                    <img src="{{$rootpath}}/images/mu.jpg" class="img-circle" style="height:50px;">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-2 text-center">
                                            <p><span class="label bg-light">4</span> - <span class="label bg-danger">2</span></p>
                                            <small>9天前</small>
                                        </div>
                                        <div class="col-md-5 ">
                                            <div class="pull-left">
                                                <a href="#" class="thumb-sm  m-r-sm">
                                                    <img src="{{$rootpath}}/images/milan.jpg" class="img-circle" style="height:50px;">
                                                </a>
                                                <small>米兰球迷</small>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-5 ">
                                            <div class="pull-right">
                                                <small>皇马家族</small>
                                                <a href="#" class="thumb-sm  m-r-sm">
                                                    <img src="{{$rootpath}}/images/rm.jpg" class="img-circle" style="height:50px;">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-2 text-center">
                                            <p><span class="label bg-light">3</span> - <span class="label bg-danger">2</span></p>
                                            <small>昨天</small>
                                        </div>
                                        <div class="col-md-5 ">
                                            <div class="pull-left">
                                                <a href="#" class="thumb-sm  m-r-sm">
                                                    <img src="{{$rootpath}}/images/milan.jpg" class="img-circle" style="height:50px;">
                                                </a>
                                                <small>米兰球迷</small>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-5 ">
                                            <div class="pull-right">
                                                <small>深圳红魔</small>
                                                <a href="#" class="thumb-sm  m-r-sm">
                                                    <img src="{{$rootpath}}/images/mu.jpg" class="img-circle" style="height:50px;">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-2 text-center">
                                            <p><span class="label bg-success">2</span> - <span class="label bg-light">0</span></p>
                                            <small>3天前</small>
                                        </div>
                                        <div class="col-md-5 ">
                                            <div class="pull-left">
                                                <a href="#" class="thumb-sm  m-r-sm">
                                                    <img src="{{$rootpath}}/images/milan.jpg" class="img-circle" style="height:50px;">
                                                </a>
                                                <small>皇马家族</small>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-5 ">
                                            <div class="pull-right">
                                                <small>深圳红魔</small>
                                                <a href="#" class="thumb-sm  m-r-sm">
                                                    <img src="{{$rootpath}}/images/mu.jpg" class="img-circle" style="height:50px;">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-2 text-center">
                                            <p><span class="label bg-light">2</span> - <span class="label bg-light">2</span></p>
                                            <small>4天前</small>
                                        </div>
                                        <div class="col-md-5 ">
                                            <div class="pull-left">
                                                <a href="#" class="thumb-sm  m-r-sm">
                                                    <img src="{{$rootpath}}/images/milan.jpg" class="img-circle" style="height:50px;">
                                                </a>
                                                <small>米兰球迷</small>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-5 ">
                                            <div class="pull-right">
                                                <small>深圳红魔</small>
                                                <a href="#" class="thumb-sm  m-r-sm">
                                                    <img src="{{$rootpath}}/images/mu.jpg" class="img-circle" style="height:50px;">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-2 text-center">
                                            <p><span class="label bg-light">4</span> - <span class="label bg-danger">2</span></p>
                                            <small>9天前</small>
                                        </div>
                                        <div class="col-md-5 ">
                                            <div class="pull-left">
                                                <a href="#" class="thumb-sm  m-r-sm">
                                                    <img src="{{$rootpath}}/images/milan.jpg" class="img-circle" style="height:50px;">
                                                </a>
                                                <small>米兰球迷</small>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-5 ">
                                            <div class="pull-right">
                                                <small>米兰球迷</small>
                                                <a href="#" class="thumb-sm  m-r-sm">
                                                    <img src="{{$rootpath}}/images/milan.jpg" class="img-circle" style="height:50px;">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-2 text-center">
                                            <p><span class="label bg-success">7</span> - <span class="label bg-light">3</span></p>
                                            <small>10天前</small>
                                        </div>
                                        <div class="col-md-5 ">
                                            <div class="pull-left">
                                                <a href="#" class="thumb-sm  m-r-sm">
                                                    <img src="{{$rootpath}}/images/rm.jpg" class="img-circle" style="height:50px;">
                                                </a>
                                                <small>皇马家族</small>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </section>
        </aside>
        <aside class="col-lg-3 b-l">
            <section class="vbox">
                <section class="scrollable padder-v">
                    <div class="panel">
                        <h4 class="font-thin padder">下一场比赛</h4>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p>5月18日 皇冠体育中心3号场 6点 <a href="#" class="text-info">@湖南老乡队</a>  </p>
                                <small class="block text-muted"><i class="fa fa-clock-o"></i> 米兰球迷</small>
                            </li>
                            <li class="list-group-item">
                                <p>5月23日 皇冠体育中心5号场 6点 <a href="#" class="text-info">@中粮石油</a>  </p>
                                <small class="block text-muted"><i class="fa fa-clock-o"></i> 米兰球迷</small>
                            </li>
                            <li class="list-group-item">
                                <p>6月2日 梅林体育场 8点 <a href="#" class="text-info">@梅林魂</a>  </p>
                                <small class="block text-muted"><i class="fa fa-clock-o"></i> 深圳红魔</small>
                            </li>
                        </ul>
                    </div>
                    <!--
                    <div class="panel clearfix">
                        <div class="panel-body">
                            <a href="#" class="thumb pull-left m-r">
                                <img src="{{$rootpath}}/images/a0.png" class="img-circle">
                            </a>
                            <div class="clear">
                                <a href="#" class="text-info">@Mike Mcalidek <i class="fa fa-twitter"></i></a>
                                <small class="block text-muted">2,415 followers / 225 tweets</small>
                                <a href="#" class="btn btn-xs btn-success m-t-xs">Follow</a>
                            </div>
                        </div>
                    </div>
                        -->
                </section>
            </section>
        </aside>
    </section>
</section>

{{include  file="$smarty_root/footer.html" }}