              </section>
            </section>
          </section>
<a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
                </section>
            </section>
        </section>
    </section>
<script src="{{$rootpath}}/js/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="{{$rootpath}}/js/bootstrap.js"></script>
<!-- App -->
<script src="{{$rootpath}}/js/app.js"></script>
<script src="{{$rootpath}}/js/slimscroll/jquery.slimscroll.min.js"></script>
<script src="{{$rootpath}}/js/app.plugin.js"></script>
<script type="text/javascript" src="{{$rootpath}}/js/jPlayer/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="{{$rootpath}}/js/jPlayer/add-on/jplayer.playlist.min.js"></script>
<script type="text/javascript" src="{{$rootpath}}/js/jPlayer/demo.js"></script>

</body>
</html>