<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{$Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />    
    <!-- Bootstrap -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="{{$rootpath}}/css/style.css">
</head>
<body>
    <!--   定义地图显示容器   -->
    <div id="container"></div>
    <button class="btn btn-default" id="btnPost">发起救助</button>
    <div id="ctxPoster" ></div>
    <div id="markset" class="hide"></div>
    <iframe id="geoPage" width=0 height=0 frameborder=0 style="display:none;" scrolling="no" src="http://apis.map.qq.com/tools/geolocation?key=EBWBZ-CZN3K-4O5JK-A3WQF-5HOCS-HUB2O&referer={{$Title}}"></iframe>

    <script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp&key={{$MapKey}}"></script>
    <script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
        var map=null;
        var loc=null;
        var myMark = null;
        var posterMarks = new Array();
        var posterLabels = new Array();
        var touchstart = 0;
        var tmpLat = 0;
        var tmpLng = 0;
        var setPointForPoster = false;
        var touchTimeout = null;
        var geocoder = null;
        var gettingLocationInShowposter=false;
        var info=null;
        $(document).ready(function () {
            initCtxPoster();
            initMap();
            locateUser();

            setTimeout(function () {
                document.getElementById("geoPage")
                        .contentWindow.postMessage('getLocation.robust', '*');
            }, 60000);
            geocoder = new qq.maps.Geocoder();
        });
        function initMap() {
            map = new qq.maps.Map(document.getElementById("container"), {
                center: new qq.maps.LatLng(22.543670, 114.059640),      // 地图的中心地理坐标。
                zoom: 16
            });
            qq.maps.event.addListener(map, 'click', function (e) {
                tmpLat = e.latLng.getLat();
                tmpLng = e.latLng.getLng();
                if (gettingLocationInShowposter == true) {
                    $("#ctxPoster").fadeIn();
                    gettingLocationInShowposter = false;
                    setLatLngAddress(tmpLat, tmpLng, $("#ctxPoster #rescue_address_no"));
                    $("#ctxPoster #rescue_lat_no").val(tmpLat);
                    $("#ctxPoster #rescue_lng_no").val(tmpLng);

                    visabledControls(true);
                }
            });
            document.getElementById("container").addEventListener('touchstart', function (event) {
                if (gettingLocationInShowposter == true) {
                    return;
                }
                touchstart = new Date().getTime();
                setPointForPoster = false;
                touchTimeout = setTimeout(function () {
                    setPointForPoster = true;
                    $("#ctxPoster").load("{{$rootpath}}/poster.php", function () {
                        $("#ctxPoster").fadeIn();
                    });
                }, 2000);
            }, true);
            document.getElementById("container").addEventListener('touchend', function (event) {
                if (gettingLocationInShowposter == true) {
                    return;
                }
                var touchend = new Date().getTime();
                if (touchend-touchstart < 2000) {
                    clearTimeout(touchTimeout);
                }
            }, true);
            info = new qq.maps.InfoWindow({
                map: map
            });
        }
        function locateUser() {
            window.addEventListener('message', function (event) {
                // 接收位置信息
                loc = event.data;
                if (gettingLocationInShowposter == false) {
                    markLocation();
                }
            }, false);
        }
        function initCtxPoster() {
            $("#ctxPoster").hide();
            $("#btnPost").click(function () {
                $("#ctxPoster").load("{{$rootpath}}/poster.php", function () {
                    $("#ctxPoster").fadeIn();
                });
            });
        }
        function visabledControls(isVisable) {
            if (isVisable) {

                for (i = 0; i < posterLabels.length; i++) {
                    posterLabels[i].setVisible(isVisable);
                }
                $("#btnPost").show();
            } else {
                info.close();
                for (i = 0; i < posterLabels.length; i++) {
                    posterLabels[i].setVisible(isVisable);
                }
                $("#btnPost").hide();
            }
        }
        function markLocation() {
            if (loc && loc.module == 'geolocation') { //定位成功,防止其他应用也会向该页面post信息，需判断module是否为'geolocation'
                var center = new qq.maps.LatLng(loc.lat, loc.lng);
                
                map.setCenter(center);
                if (myMark == null) {

                    myMark = new qq.maps.Marker({
                        //设置Marker的位置坐标
                        position: center,
                        //设置显示Marker的地图
                        map: map
                    });

                } else {
                    myMark.setPosition(center);
                }
                posterLoad(loc.lat, loc.lng);

                
                if ($("#ctxPoster #rescue_address").length > 0) {
                    if (setPointForPoster) {

                        setLatLngAddress(tmpLat, tmpLng, $("#ctxPoster #rescue_address"));
                        $("#ctxPoster #rescue_lat").val(tmpLat);
                        $("#ctxPoster #rescue_lng").val(tmpLng);
                    } else {

                        $("#ctxPoster #rescue_address").val(loc.addr);
                        $("#ctxPoster #rescue_lat").val(loc.lat);
                        $("#ctxPoster #rescue_lng").val(loc.lng);
                    }
                }
            } else { //定位组件在定位失败后，也会触发message, event.data为null
                alert('定位失败');
                posterLoad(22.543670, 114.059640);
            }
        }
        function posterLoad(lat, lng) {
            var json = {
                "lat": lat, "lng": lng
            }
            $.get("setposter.php", json, function (e) {
                try {

                    for (i = 0; i < posterMarks.length; i++) {
                        posterMarks[i].setMap(null);
                    }
                    for (i = 0; i < posterLabels.length; i++) {
                        posterLabels[i].setMap(null);
                    }

                    var obj = JSON.parse(e);
                    for (i = 0; i < obj["val"].length; i++) {
                        var arr = obj["val"][i];
                        //addPosterMark(arr);
                        addPosterLabel(arr);
                        


                    }
                }
                catch (e) {
                    alert(e.message);
                }
            });
        }
        function addPosterMark(arr) {
            var posterMark = new qq.maps.Marker({
                //设置Marker的位置坐标
                position: new qq.maps.LatLng(arr.rescue_lat, arr.rescue_lng),
                //设置显示Marker的地图
                map: map
            });
            var imageurl = "{{$uploadpath}}/pet/" + arr.pet_photo;
            var anchor = new qq.maps.Point(0, 39),
size = new qq.maps.Size(50, 50),
origin = new qq.maps.Point(0, 0),
scaleSize = new qq.maps.Size(40, 40),
icon = new qq.maps.MarkerImage(
imageurl,
size,
origin,
anchor,
scaleSize
);

            qq.maps.event.addListener(posterMark, 'icon_changed', function () {
                //alert($("[src$='" + posterMark.getIcon().url + "']").length);
            });

            posterMark.setIcon(icon);

            posterMarks[i] = posterMark;
        }
        function addPosterLabel(arr) {
            var labelRescueType = "其他";
            switch (arr.rescue_type) {
                case "W": labelRescueType = "受伤"; break;
                case "H": labelRescueType = "饥饿"; break;
                case "L": labelRescueType = "走失"; break;
                case "A": labelRescueType = "待领养"; break;
            }
            lblPetType = "其它";
            switch (arr.pet_type) {
                case "D": lblPetType = "狗狗"; break;
                case "C": lblPetType = "猫猫"; break;
                case "O": lblPetType = "小可爱"; break;
            }

            var labelcolor = "black";
            var labelRescueLevel = "其它";
            switch (arr.rescue_level) {
                case "C": labelcolor = "red"; labelRescueLevel = "严重"; break;
                case "H": labelcolor = "orange"; labelRescueLevel = "高"; break;
                case "M": labelcolor = "blue"; labelRescueLevel = "中"; break;
                case "L": labelcolor = "green"; labelRescueLevel = "低"; break;
            }

            var label = new qq.maps.Label({
                position: new qq.maps.LatLng(arr.rescue_lat, arr.rescue_lng),
                map: map,
                content: "<img class='img-circle' style='width:50px;height:50px;border:2px solid " + labelcolor + ";border-radius:50px' src='" + "{{$uploadpath}}/pet/" + arr.pet_photo + "' />",
                style: { "color": labelcolor, "text-align": "center", "background": "transparent","border":"0px" }
            });

            qq.maps.event.addDomListener(label, "click", function () {
                
                info.setContent('<div style="margin:10px;">'
                    +"<h5><span style='color:" + labelcolor + "'>(紧急:" + labelRescueLevel + ")</span>" + labelRescueType + "的" + lblPetType+arr.rescue_need + "</h5>"
                    + "<p>描述："+arr.pet_detail+"</p>"
                    + "<p>位置：" + arr.rescue_address + " " + arr.rescue_detail + "</p>"
                    + (arr.contact_name == "" ? "" : "<p>联系人：" + arr.contact_name + "</p>")
                    + (arr.contact_mobile == "" ? "" : "<p>联系电话：<a href=tel:" + arr.contact_mobile + "'>" + arr.contact_mobile + "</a></p>")
                    + (arr.contact_wechat == "" ? "" : "<p>联系微信：" + arr.contact_wechat + "</p>")
                    + (arr.contact_qq == "" ? "" : "<p>联系QQ：" + arr.contact_qq + "</p>")
                    + "<p style='text-align:right;'><button class='btn btn-success' onclick='openPoster("+arr.id+");'>分享和救助</button></p>"
                    +'</div>');
                info.setPosition(new qq.maps.LatLng(arr.rescue_lat - 0.0006, Number(arr.rescue_lng) + 0.0006));
                info.open();
            });

            posterLabels[i] = label;
        }
        function setLatLngAddress(lat,lng,target) {
            var latLng = new qq.maps.LatLng(lat, lng);
            //对指定经纬度进行解析
            geocoder.getAddress(latLng);
            //设置服务请求成功的回调函数
            geocoder.setComplete(function (result) {
                target.val(result.detail.address);
            });
            //若服务请求失败，则运行以下函数
            geocoder.setError(function () {
                alert("获取地址失败，请重新尝试!");
            });
        }
        function openPoster(id) {
            $("#ctxPoster").load("{{$rootpath}}/showposter.php?id=" + id, function (e) {
                $("#ctxPoster").fadeIn();
            });
        }
    </script>
    {{include  file="$smarty_root/share.html" }}
</body>


</html>