<!-- nav -->
<nav class="nav-primary hidden-xs">
    <ul class="nav bg clearfix">
        <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
            发现
        </li>
        <li>
            <a href="{{$rootpath}}/index.php" >
                <i class="icon-map icon text-success"></i>
                <span class="font-bold">救助地图</span>
            </a>
        </li>
        <li>
            <a href="#" onclick="alert('Coming Soon');">
                <i class="icon-home icon text-success"></i>
                <span class="font-bold">附近所有</span>
            </a>
        </li>
        <li>
            <a href="#" onclick="alert('Coming Soon');">
                <i class="icon-user-following icon text-info"></i>
                <span class="font-bold">我的关注</span>
            </a>
        </li>
        <li>
            <a href="#" onclick="alert('Coming Soon');">
                <i class="icon-tag icon text-primary-lter"></i>
                <span class="font-bold">我的收藏</span>
            </a>
        </li>
        <li>
            <a href="#" onclick="alert('Coming Soon');">
                <i class="icon-star icon  text-info-dker"></i>
                <span class="font-bold">我的参与</span>
            </a>
        </li>
        <li class="m-b hidden-nav-xs"></li>
    </ul>
    <ul class="nav" data-ride="collapse">
        <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
            志愿者
        </li>
        <li>
            <a href="{{$rootpath}}/login.php" >
                <i class="fa-sign-in fa text-primary-lter"></i>
                <span class="font-bold">志愿者登录</span>
            </a>
        </li>
        <li>
            <a href="#" onclick="alert('Coming Soon');">
                <i class="fa-paste fa  text-info-dker"></i>
                <span class="font-bold">了解志愿者计划</span>
            </a>
        </li>
    </ul>
    <ul class="nav text-sm">
        <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
            我们
        </li>
        <li>
            <a href="#">
                <span>关于我们</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>寻找合作</span>
            </a>
        </li>
    </ul>
</nav>
<!-- / nav -->