{{include  file="$smarty_root/header.html" }}

<iframe id="geoPage" width=0 height=0 frameborder=0 style="display:none;" scrolling="no" src="http://apis.map.qq.com/tools/geolocation?key={{$MapKey}}&referer={{$Title}}"></iframe>
<section>
    <section class="vbox">
        <section class="scrollable"  >
            <div class="row">
                <div class="col-xs-6" style="padding-right:0px;">
                    <select class="form-control m-b" style="background-color:transparent;width:100%;" id="ddlType">
                        {{foreach from=$ddltype  item=rs }}
                        <option value="{{$rs.val}}" {{if $rs.val==0}}selected=selected{{/if}}>{{$rs.name}}</option>
                        {{/foreach}}
                    </select>
                </div>
                <div class="col-xs-6" style="padding-left:0px;">
                    <select class="form-control m-b" style="background-color:transparent;width:100%;" id="ddlOrder">
                        {{foreach from=$ddlorder  item=rs }}
                        <option value="{{$rs.val}}" {{if $rs.val==0}}selected=selected{{/if}}>{{$rs.name}}</option>
                        {{/foreach}}
                    </select>
                </div>
            </div>
        </section>
        <section class="scrollable" id="lvMain" >
            <div class="row" style="margin-top:10px;">
                <div class="col-xs-12 text-center">
                    <p>数据加载中<i class="icon-basket-loaded"></i></p>
                </div>
            </div>
        </section>
    </section>
</section>
<script>
    var page = 0;
    var lat = 22.543670, lng = 114.059640;
    var located = true;
    $(document).ready(function () {
        $("#ddlType").change(function () {
            page = 0;
            LoadData();
        });
        $("#ddlOrder").change(function () {
            page = 0;
            LoadData();
        });
        if ("{{$located}}" == "Y") {
            window.addEventListener('message', function (event) {
                loc = event.data;
                if (located) {
                    if (loc && loc.module == 'geolocation') { //定位成功,防止其他应用也会向该页面post信息，需判断module是否为'geolocation'
                        lat = loc.lat;
                        lng = loc.lng;
                    }
                    located = false;
                    LoadData();
                }
            }, false);
        } else {
            LoadData();
        }
    });
    function LoadData() {
        $(".loadmore").remove();
        if (page == 0) {
            var str = "<div class='col-xs-12 text-center'>";
            str+="<p>数据加载中<i class='icon-basket-loaded'></i></p>";
            str += "</div>";
            $("#lvMain").html(str);
        }
        var json = {
            lat: lat,
            lng: lng,
            page: page,
            count: 20,
            type: $("#ddlType").val(),
            order: $("#ddlOrder").val(),
            member_id: "{{$member.id}}"
        };
        callXmlLoader("{{$API}}/Poster/{{$action}}.php", json, function (e) {
            if (page == 0) {
                $("#lvMain").html("");
            }
            if (e.length > 0) {
                for (var i = 0; i < e.length; i++) {
                    var str = "<div class='row'>";
                    str += "<a href='{{$rootpath}}/shower.php?id=" + e[i].id + "'>";
                    str += "<div class='col-xs-12'>";
                    str += "<h3 class='padder'>" + e[i].needs + "</h3>";
                    str += "<div style='width:100%;height:200px; background:no-repeat center url({{$uploadpath}}/pet/" + e[i].photo + ")'></div>";
                    str += "</div>";
                    str += "<div class='col-xs-12 text-right' style='margin-top:5px;padding-right:25px;'>";
                    str += "关注(" + e[i].followcount + ") 收藏(" + e[i].collectcount + ")";
                    str += "</div>";
                    str += "</a>";
                    str += "</div>";
                    str += "<hr />";
                    $("#lvMain").append(str);
                }
                var more = "<div class='row loadmore'>";
                more += "<div class='col-xs-12 text-center' style='background-color:#cccccc' onclick='LoadData();'><h4>点击加载更多</4>";
                more += "</div>";
                more += "</div>";
                $("#lvMain").append(more);
                page++;
            } else {
                var more = "<div class='row'>";
                more += "<div class='col-xs-12 text-center' ><h5>没有数据了</h5>";
                more += "</div>";
                more += "</div>";
                $("#lvMain").append(more);
            }
        });
    }
</script>
{{include  file="$smarty_root/footer.html" }}
