
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
    wx.config({
        debug: false,
        appId: '{{$wechatsign.appId}}',
        timestamp: "{{$wechatsign.timestamp}}",
        nonceStr: '{{$wechatsign.nonceStr}}',
        signature: '{{$wechatsign.signature}}',
        jsapi_ticket: '{{$wechatsign.jsapi_ticket}}',
        url: '{{$wechatsign.url}}',
    jsApiList: [
        // 所有要调用的 API 都要加到这个列表中
        'checkJsApi',
        'openLocation',
        'getLocation',
        'onMenuShareTimeline',
        'onMenuShareAppMessage'
    ]
    });
    wx.ready(function () {

        wx.onMenuShareAppMessage({
            title: "分享标题A",
            desc: "分享描述B",
            link: "分享链接C",
            imgUrl: "分享链接D",
            trigger: function (res) {
                // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                // alert('用户点击发送给朋友');
            },
            success: function (res) {
                //alert('已分享');
            },
            cancel: function (res) {
                //alert('已取消');
            },
            fail: function (res) {
                //alert("onMenuShareAppMessage" + JSON.stringify(res));
            }
        });

        wx.onMenuShareTimeline({
            title: "分享标题Add",
            link: "分享链接Cdd",
            imgUrl: "分享链接CCdd",
            trigger: function (res) {
                // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                //alert('用户点击分享到朋友圈');
            },
            success: function (res) {
                //alert('已分享');
            },
            cancel: function (res) {
                //alert('已取消');
            },
            fail: function (res) {
               // alert("onMenuShareTimeline" + JSON.stringify(res));
            }
        });

    });
    wx.error(function (res) {
        //alert("错误了？" + res.errMsg);
    });
    function shareNews(news) {
        //wx.onMenuShareAppMessage(news);
        wx.onMenuShareTimeline(news);
        //wx.checkJsApi({
        //    jsApiList: [
        //      'getNetworkType',
        //      'previewImage'
        //    ],
        //    success: function (res) {
        //        alert(JSON.stringify(res));
        //    }
        //});
        if (typeof WeixinJSBridge == "undefined") {
            alert("请使用微信打开");
        } else {
            WeixinJSBridge.invoke('shareTimeline', {
                "title": news.title,
                "link": news.link,
                "desc": news.desc,
                "img_url": news.imgUrl
            });
        }
    }
    </script>