<div class="modal-content" style="box-shadow:none;border-radius:0px;position:absolute;width:100%;">
    <div class="modal-header" style="height: 60px;   ">
        <button type="button" class="close btnClose">
            &times;
        </button>
        <h4 class="modal-title" id="lblTitle">
            {{if $poster.rescue_type=='W'}}受伤
            {{elseif  $poster.rescue_type=='H'}}饥饿
            {{elseif  $poster.rescue_type=='L'}}走失
            {{elseif  $poster.rescue_type=='A'}}待领养
            {{else}}等救助{{/if}}的{{if $poster.pet_type=='D'}}狗狗{{elseif $poster.pet_type=='C'}}猫猫{{else}}小可爱{{/if}}
        </h4>
    </div>
    <div class="modal-body" style="height: 140px; overflow: auto;  ">
        <div class="row">
            <div class="col-md-6">发现者：{{if $record.0.contact_name==""}}无名氏{{else}}{{$record.0.contact_name}}{{/if}}</div>
            <div class="col-md-6">发现时间：{{$poster.created_date}}</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img class="img-rounded img-responsive" src="{{$uploadpath}}/pet/{{$poster.pet_photo}}" />
            </div>
        </div>
    </div>
    <div class="modal-footer" style="height: 65px;   ">
        <button type="button" class="btn btn-default btnClose">
            关闭
        </button>
        <button type="button" class="btn btn-default" disabled="disabled" id="btnPrevious">
            上一步
        </button>
        <button type="button" class="btn btn-primary" id="btnNext">
            下一步
        </button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#ctxPoster .modal-body").css("height", $(window).height() - 125);
        
        $("#ctxPoster .btnClose").click(function () {
            $("#ctxPoster").fadeOut();
        });

        $("#ctxPoster #btnNext").click(function () {
            
        });
        $("#ctxPoster #btnPrevious").click(function () {
            
        });

    });
</script>